llama-index-core==0.10.0
llama-index-embeddings-huggingface==0.1.4
llama-index-llms-openai==0.1.5
huggingface-hub==0.19.4
pinecone-client==3.2.2
openai==1.12.0
torch==2.2.1
PyStemmer==2.2.0.1
streamlit==1.32.0
langchain-core==0.1.33
python-dotenv==1.0.1
tqdm==4.66.2
nest-asyncio==1.6.0
rouge-score>=0.1.2
