llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-openai
huggingface-hub
pinecone-client
openai
torch
PyStemmer
streamlit
langchain-core
python-dotenv
tqdm
nest-asyncio
rouge-score
